.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #004080;
    color: white;
    padding: 20px;
    font-size: 18px;
    margin-top: 40px;
    margin-top: 10px;
}

.footer__text {
    text-align: center;
    margin-bottom: 10px;

}

.scroll {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 80px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;

}